@model List<string>

Права:
@{
    if(Model != null)
    foreach (var item in Model) {
        <p>@item</p>
    }
}
<br />
<br />

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>
<br />
<a href="Home/About">about</a>
<br />
<form method="get" asp-controller="Account" asp-action="RemoveFromAdmins">
    <input type="submit" value="удалить права администратора" />
</form>
<br />
<form method="get" asp-controller="Users" asp-action="Index">
    <input type="submit" value="пользователи" />
</form>